@font-face {
    font-family: 'Pieces';
    src: url(FontsFree-Net-Maison-Neue-Bold.ttf);
  }

@font-face {
    font-family: 'kai';
    src: url(KairosPro-CondensedBold.otf);
  }

@font-face {
    font-family: 'Source Code Pro';
    src: url(SourceCodePro-Light.ttf);
  }
p{
    font-family: 'Source Code Pro';
    color: azure;
}

.name{
    position: absolute;
    font-family: 'kai';
    z-index: 2; top: 999;     top: 725px;
    font-size: 136px;
    left: 34px;
}
.web{
    position: absolute;
    font-family: 'kai';
    color: rgb(255, 255, 255);
    font-size: 96px;
    left: 34px;bottom: 96px
}
.web:nth-child(2) {
   color: #B900AC;
   left: 248px;
}.web:nth-child(3) {
  
   left: 318px;
}

html,body {
    /*  background-image: url('26021401.jpg'); */
    margin:0;
    padding:0;
    overflow-y: hidden;
    overflow-x: hidden;
}

a{ 
    position: relative;
    top: 167px;
    left: 173px;text-decoration: none;
    font-family: 'pieces';
    font-size: 79px; z-index: 2; color: aliceblue;
}
a:hover{
    border-left: 20px  white;
    background-color: #0043B9;    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
a:hover::after{
    color: #805111;
}
.triangle{
    width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

.blk {
    border-top-right-radius: 50px;

        top: 0px;
    height: 1250px;
    position: absolute;
    width: 50%;
    z-index: 1;
    background: #E6A445
}

.blk1 {bottom: -238px;
   height: 1000px;top: 205px;
    position: relative;
    left: 1200px;
}
.blk2 {bottom: 244px;
   height: 235px;   
    z-index: 1;
   width: 100%;
    position: relative;
    
    background: black;
}
.blk3 {
    bottom: 1086px;
    height: 297px;
    position: relative;
    left: 1200px;
    background: black;
}

.links{
position: absolute;
        display: grid;
        grid-template-columns: ;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
  
}



/*----------------------------------------------------------*/
.contkt {left: 1290px;
    position: absolute;
    display: grid;
    right: -555px;
    grid-template-columns: 1.2fr 2.3fr;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.Frm {font-family: 'Source Code Pro';
    position: relative;
    height: 40px;
    width: 221px;
    right: 6px;
}
.Frm1 {font-family: 'Source Code Pro';
    position: relative;
    
    right: 6px;
    overflow-x: hidden;
}
input:hover {
	font-family: 'Source Code Pro';
	background: #ce8a2d;
	color: #e2dedb;
}

textarea {left: 259px;
    bottom: 27px;
	width: 221px;
    height: 15px;
	max-width: 470px;
	
	max-height: 110px;
	padding: 15px;
	font-family: 'Source Code Pro';
	background: transparent;
	outline: none;
	color: #726659;
	font-style: italic;
	font-size: 15px;
	border: solid 1px #6163a0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
	background: #0f5026;
	color: #e2dedb;
}
#email{
    position: relative;
    left: 13px;
    top: 19px;
}
#message{
    position: relative;
    left: 248px;
    bottom: 46px;
}
#submit{
    position: relative;
    left: 260px;
    bottom: 13px;
}
#submit:hover{
    background: #ce8a2d;
}